<html>
    <head>
        <title>{{ title }} - Microblog</title>
    </head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <body>
        <nav>
          <span class="logo"> Image Editor Project </span>
        </nav>
        <div class="container">

          <h1>Bienvenido a Image Editor Project</h1>
          <p>Comienza a editar fotos a tu gusto. Para comenzar, sube una imagen, una vez subida aparecerán los controles en un menú de lado izquierdo</p>
          <form method=post enctype=multipart/form-data>
            <input type=file name=file>
            <input type=submit value="Editar imagen">
          </form>

          <img src="{{ url_for('static', filename='sw_bg.png') }}" width="70%">

        </div>
    </body>
</html>
