@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pangolin', cursive;
  font-family: 'Nunito', sans-serif;
}
body, html {
  width: 100%;
  height: 100%;
}

nav {
  background-color: rgb(87, 73, 135);
  color: white;
  padding: 1.2em;
  font-size: 1.2em;
  font-weight: bold;
}

#page {
  display: none;
}

.container {
  margin: 1.2em auto;
  width: 95%;
  max-width: 1240px;
}

p {
  margin: .5em 0;
  font-size: 1.1em;
  line-height: 2em;
}

#status {
  padding: 1em 2em;
  width: 100%;
  background-color: #9fff94;
  color: #127007;
  border-radius: 10px;
  margin-bottom: 1em;
}

canvas {
    margin: 2em 0;
}

button {
  margin: 0 auto;
  width: 100%;
  border: none;
  background:#e0e0e0;
  padding: .8em 0;
  border-radius: .5em;
  margin-top: 1em;
}

button:hover {
  cursor: pointer;
  background-color: #c0c0c0;
}

#descargar {
    width: 50%;
}

.modal-edit{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fefefe;
  margin: 120px auto; /* 15% from the top and centered */
  padding: 20px;
  width: 70%; /* Could be more or less, depending on screen size */
  border-radius: 10px;
}

/* The Close Button */
.close {
  position: fixed;
  color: #aaa;
  right: 2em;
  font-size: 48px;
  font-weight: bold;
  margin: 10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Loader */
.loader-bg{
  background-color: rgba(0,0,0,0.5);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader-bg span{
  color: white;
  font-size: 1.1em;
  font-weight: bold;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.slider {
  /* -webkit-appearance: none; */
  display: block;
  width: 100%;
  /* height: 15px; */
  background: #d3d3d3;
  /* outline: none; */
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  background: rgb(87, 73, 135);
  cursor: pointer;
}

.controls{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: .7em 0;
}

#descargar {
  background: rgb(87, 73, 135);
  color: #fff;
}

h2 {
  border-bottom: .3em solid rgba(87, 73, 135, 0.3);
  margin-bottom: 1em;
}
