@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pangolin', cursive;
  font-family: 'Nunito', sans-serif;
}

nav {
  background-color: rgb(87, 73, 135);
  color: white;
  padding: 1.2em;
  font-size: 1.2em;
  font-weight: bold;
}

.container {
  margin: 1.2em auto;
  width: 95%;
  max-width: 1240px;
}

p {
  margin: .5em 0;
  font-size: 1.1em;
  line-height: 2em;
}
